/* Navbar.js */

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style-type: none; /* ul태그의 그 점 사라지게 하는 */
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-area {
  position: relative;
  display: inline-block;
}

.search-area input[type="text"]{
  width:200px;
  padding: 5px 10px 5px 30px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  outline: none;
}

/*ProductCard.js*/
